<!DOCTYPE html>
<html>
<body>

<div id="container"></div>
<br><br>
<div id="container1"></div>
<br><br>
<div id="container3"></div>
<br><br>
<div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<br><br>

<p>Click the button to print the current page.</p>

<button onclick="myFunction()">Get Your Stats</button>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<script>
function myFunction() {
  window.print();
}
   Highcharts.chart('container', {{ chart|safe }});
   Highcharts.chart('container1', {{ chart1|safe }});
    Highcharts.chart('container2', {{ chart2|safe }});
    Highcharts.chart('container3', {{ chart3|safe }});
</script>

</body>
</html>