{% extends 'main/header.html' %}

<br><br><br><br><br>
{% block content %}
  {% if user.image %}
  <img src="{{ user.image.url }}" alt="Avatar" class="avatar" style="width: 360px;
  height: 360px;
  border-radius: 50%;">
{% else %}
          <img src="media/images/default.png" alt="Avatar" class="avatar" style="width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;">
  {% endif %}
  <br>
  <p>Name : {{ user.first_name}}</p>
  <br>
  <p>User id:{{user.username}}</p>
  <br>
{% endblock %}
